body {
    background-color: cornflowerblue;
}

h1 {
   background-color: darkseagreen;
   text-align: center;
   color: red;
}

p {
    background-color: brown;
    font-size: 30px;
    text-align: left;
    color: white;
}

div {

    border: 1px;
}

#parrafo1 {
    text-align: center;
    color: darksalmon;
    background-color: black;
    font-size: 40px;
}

.parrafo_bonito {
   text-align: right;
   color: blue;
   background-color: blueviolet;
   font-size: 50px;
}

h1.izquierda {
    text-align: left;
}